<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
</head>
<body style="padding:0; margin:0;font-family:Verdana,Arial;line-height:150%;">
    <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="5" style="background-color:#fafafa;padding-top:5px;border-bottom:1px solid #cfdad6;">
                <img height="40" src="../../../public/images/cisneros-logo.png" border="0" style="display: block; padding: 10px 0 13px 20px;" />
            </td>
        </tr>
        <tr style="height:300px;">
            <td style="color: #484747; background: #FFF; text-align: left; padding: 20px 40px 30px;">
                <p>Hi guys,</p>
                <p>So this is it!  The big trip we&#039;ve always wanted to take!  We&#039;re all in and can&#039;t wait to make this dream a reality :) Please take a moment to view our profile and honeymoon registry.  We&#039;ve created a wish list with different activities, packages, and treats we&#039;d like to indulge in during our honeymoon.  Any and all help is greatly appreciated!</p>
                <p>Thanking you in advance,</p>
                <p>Joe and Eli</p>
                <p>ps. expect lots of pictures!!!</p>
            </td>
        </tr>
        <tr>
            <td style="background-color: #FFF; padding: 4px 0; vertical-align: middle;border-top:1px solid #cfdad6;">
                <p style="text-align: center; color: #349DC9; font-size: 11px; padding: 0; margin: 0;">&copy; 2015 &bull; <a href="http://cisneros.com" style="color: #349DC9; text-decoration: none">cisneros.com</a></p>
            </td>
        </tr>
    </table>    
</body>
</html>
